page-chat {
.back {
    background-color: lightgray;
}


.face {
    font-size: 40px;
}

.name {
    font-size: 16px;
    height: 12px;
}

.p {
    height: 12px;
}

.time {
    font-size: 13px;
    height: 12px;
}

.alignright {
    text-align: right;
}

.read {
    background-color: darkgrey;
}

.unread {
    background-color: white;
}

}
